<main>
  <p id="notice"><%= flash[:notice] %></p>
  <div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
<%= render 'list' %>



<!-- form_with部分 -->
<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Creat Book' %>
<% end %>
</div>
      <div class='col-md-8 offset-md-1'>
<div>
  <%= flash[:notice] %>
</div>
<h1>Book detail</h1>
<th>
            <%= image_tag @book_dil.user.get_profile_image(100, 100) %></th>
<%= @book_dil.title %>


<%= @book_dil.body %>
<th><%= link_to user_path(current_user.name) %></th>



<%= link_to "Edit", edit_book_path(@book_dil.id) %>
<% if @book_dil.user == current_user %>
<%= link_to "Destroy", book_path(@book_dil.id), method: :delete%>

  <% end %>
